.btn {
    &.btn-right {
        float: right;
    }

    &.btn-add-form {
        margin-bottom: 10px;
    }

    &.btn-secondary {
        background-color: $orange;
        color: $white;
        font-weight: 600;
    }

    &.btn-status {
        color: $white;
        &.P {
            background-color: $pink;
        }
        &.D {
            background-color: $blood;
        }
        &.A {
            background-color: $green;
        }
    }

    &.red {
        color: $blood;
    }
}

.btn-add-form {
    &:hover {
        text-decoration: none;
    }
    
    &.primary {
        color: $black;
        display: block;
        margin: 10px 0;
        font-weight: 600;

        &:before {
            content: "+";
            margin: 0 10px;
        }
    }
}
.btn-remove-form {
    &.primary {
        color: $red;
        font-weight: 600;
        display: block;
        text-align: right;
    }
}