select {
    background: url(images/select-arrow.png) no-repeat right center;
    background-size: auto 34px;
    @include hide-select-arrow();
}

label {
    color: $black;
    .help-text {
        font-weight: 300;
        color: $dark-light;
        margin: 15px 0;
    }
}