.date-dropdowns {
    &.inline {
        display: inline-block;
        select {
            display: inline;
            width: 70px;
            margin-left: 5px;

            @include hide-select-arrow();
        }
    }
}