select {
    background: url(images/select-arrow.png) no-repeat right center;
    background-size: auto 34px;
    @include hide-select-arrow();
}

label {
    color: $black;
    .help-text {
        font-weight: 300;
        color: $dark-light;
        margin: 15px 0;
    }
}


.search-form {
    &.form-inline {
        .form-control, .btn {
            border-radius: 0 0 0;
            @include box-shadow(0 0 0);
            @include placeholer-color($black-light);
        }

        select {
            background-image: url(images/select-arrow.png);
            background-repeat: no-repeat;
            background-position: right center;
            padding-right: 30px;
        }

        .form-control {
            border-color: $blur;
            background-color: $gray;
        }
        .has-error .form-control {
            @include placeholer-color($red);
        }
    }
}

@media(min-width: 768px) {

    .search-form {
        &.form-inline {
            .form-group, .form-control {
                float: left;
            }
            .form-control {
                margin-right: -1px;
            }
        }
    }

}