.thumbnail {
    &.flat {
        border-radius: 0 0 0;
        .img-full {
            width: 100%;
            max-width: 100%;

            @include tera-image-cover-format();
        }

        & > a {
            display: block;
            margin: -5px;
        }
    }

    .caption {
        a {
            color: $black-light;
        }
    }

    footer, .footer {
        border-top: 1px solid $blur;
        margin-left: -4px;
        margin-right: -4px;
        padding: 15px;
    }
}

.media {
    .media-object {
        max-width: 100%;
    }

    .media-subtitle {
        @extend .font-body;
    }

    .obj-replace {
        display: block;
    }
}