{% extends "base.html" %}
{% load i18n sekizai_tags staticfiles %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block title %}MyRefuge - {% trans "Personal details" %}{% endblock %}

{% block content %}
<div id="account">
	<div class="white-sheet">
		<div class="text-center vr-2">
			<strong>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }} - {% trans "Personal details" %}</strong>
		</div>

		<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
			{{ wizard.management_form }}
			{% if wizard.form.forms %}
				{{ wizard.form.management_form }}
				{% for form in wizard.form.forms %}
					{{ form }}
				{% endfor %}
			{% else %}
				{% include "form/input.html" with field=wizard.form.first_name label=wizard.form.first_name.label %}
				{% include "form/input.html" with field=wizard.form.last_name label=wizard.form.last_name.label %}
				{% include "form/select.html" with field=wizard.form.gender %}
				{% include "form/input.html" with field=wizard.form.dob label="Date of Birth" %}
				{% include "form/input.html" with field=wizard.form.address label=wizard.form.address.label %}
			{% endif %}

			{% include "form/step_btns.html" with steps=wizard.steps %}

			<input class="btn btn-block btn-primary btn-lg" type="submit" value="{% trans "Submit" %}"/>
		</form>
	</div>
</div>

{% addtoblock "js" %}
	<script type="text/javascript">
		(function () {
			var picker = new Pikaday({
				field: document.getElementById('id_about-dob'),
				format: 'DD/MM/YYYY',
				minDate: moment("1915-01-01").toDate(),
				maxDate: new Date(),
				yearRange: [1915, 2015]
			});
		})();
	</script>
{% endaddtoblock %}

{% endblock %}
