{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}
{% load common_filters %}

{% block title %}{% trans "Booked spaces" %}{% endblock %}


{% block content %}
<div class="container">
    <div class="container-inner">
        <h1 class="entry-title">
          {% trans "Booked spaces" %}
        </h1>
        <div class="row">
          {% for application in application_list %}
          <div class="col-sm-4">
            {% include "citizen_refuge/space-block.html" with space=application.space href="refuge_space_application" id=application.id %}
          </div>
          {% if forloop.counter|divisibleby:3 and forloop.counter != 0 %}
        </div>
        <div class="row">
          {% endif %}
          {% endfor %}
        </div>

        {% if is_paginated %}
          <div class="pagination">
              <span class="page-links">
                  {% if page_obj.has_previous %}
                      <a href="{% url 'refuge_wish_list' %}?page={{ page_obj.previous_page_number }}">previous</a>
                  {% endif %}
                  <span class="page-current">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>
                  {% if page_obj.has_next %}
                      <a href="{% url 'refuge_wish_list' %}?page={{ page_obj.next_page_number }}">next</a>
                  {% endif %}
              </span>
          </div>
        {% endif %}
    </div>
</div>
{% endblock %}
