{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}
{% load common_filters %}

{% block title %}{% trans "Booked spaces" %}{% endblock %}


{% block content %}
<div class="container">
    <div class="container-inner narrow">
        <h1 class="entry-title">
          {% trans "My Requests" %}
        </h1>
        {% if application_list %}
        <div class="booking-list border-top">
          <ul class="media-list">
            {% for application in application_list %}
              <li class="media">
                <div class="media-left media-middle">
                    <a class="media-inner" href="{% url 'userena_profile_detail' application.space.citizen.user %}">
                        <img class="media-object img-circle" src="{{application.space.citizen.user.my_profile.get_mugshot_url}}" alt="{{ application.space.citizen.user.first_name }}">
                    </a>
                </div>
                <div class="media-body">
                  <p>{% trans "The request is: " %}<a href="{% url 'refuge_space_application' application.id %}" class="text status {{application.status}}">{{status_list|get_item:application.status}}</a></p>
                    {{application.story|slice:":40"|safe|linebreaks}}
                    <p class="media-subtitle"><strong>Space: </strong><a href="{% url 'refuge_space_detail' application.space.id %}">{{application.space.headline}}</a></h4>
                    <p class="media-subtitle"><strong>At: </strong>{{application.space.city}}, {{application.space.country}}</h4>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
        {% else %}
        <p>{% trans "No booked space!" %}</p>
        {% endif %}

        {% if is_paginated %}
          <div class="pagination">
              <span class="page-links">
                  {% if page_obj.has_previous %}
                      <a href="{% url 'refuge_wish_list' %}?page={{ page_obj.previous_page_number }}">previous</a>
                  {% endif %}
                  <span class="page-current">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>
                  {% if page_obj.has_next %}
                      <a href="{% url 'refuge_wish_list' %}?page={{ page_obj.next_page_number }}">next</a>
                  {% endif %}
              </span>
          </div>
        {% endif %}
    </div>
</div>
{% endblock %}
