{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}
{% load common_filters %}
{% load i18n sekizai_tags staticfiles %}


{% block title %}{{ application.refugee.user.first_name }}' {% trans "Application" %}{% endblock %}

{% block body_class %}application hide-brand{% endblock %}


{% block content %}
<div class="container">
    <div class="container-inner">
      <div class="row">
        <div class="col-md-8">
          {% if can_update %}
            <h1 class="entry-title">{% trans "Introduce Yourself to" %} 
              [{{ application.space.citizen.user.first_name }} {{ application.space.citizen.user.last_name }}]
            </h1>

            {% if not application.story and form %}
              <p>Giving your host more information will make them more likely to confirm your booking request:</p>
              <ul>
                <li>Tell [refuge provider name] a little about yourself</li>
                <li>Your refugee story; who’s joining you?</li>
                <li>What do you love about this listing? Mention it!</li>
              </ul>

              <form method="post" class="story-form">
                {% csrf_token %}
                {% include "form/textarea.html" with field=form.story %}
                <div class="clearfix dv"></div>
                <button type="submit" class="btn btn-primary btn-lg">Submit request!</button>
              </form>

            {% endif %}

          {% else%}
            <h1 class="entry-title">[{{application.refugee.user.first_name}} {{application.refugee.user.last_name}}] {% trans "introduction" %}</h1>
          {% endif %}
          <div class="story-display">
            <p>
              {{ application.story|safe|linebreaks }}
            </p>
          </div>
          {% if message_form %}
          <form method="post" class="form-inline message-form" action="{% url 'refuge_space_application_compose' application.id %}">
            {% csrf_token %}
            <div class="form-group">
              {% for error in message_form.message.errors %}
                <label class="invalid">{{ error | escape }}</label>
              {% endfor %}
              <label class="sr-only" for="{{ message_form.message.id_for_label }}">{% trans "Message" %}</label>
              <textarea class="form-control" id="{{ message_form.message.id_for_label }}" name="{{ message_form.message.html_name }}" rows="{{ rows }}" placeholder="{% trans "New message" %}">{{ message_form.message.value | default_if_none:"" }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Send</button>
          </form>

          <ul class="messages media-list">
              {% for message in messages %}
                <li class="media">
                  {% if message.sender.my_profile.type == 'R' %}
                  <div class="media-left">
                      <a class="media-inner" href="{% url 'userena_profile_detail' message.sender %}">
                          <img class="media-object img-circle" src="{{message.sender.my_profile.get_mugshot_url}}" alt="{{ message.sender.first_name }}">
                      </a>
                  </div>
                  {% else %}
                  <div class="media-left">
                      <span class="obj-replace"></span>
                  </div>
                  {% endif %}
                  <div class="media-body {% if message.sender.my_profile.type == 'C' %}text-right{% else %}text-left{% endif %}">
                      <span class="arrow"></span>
                      {{message.body|safe|linebreaks}}
                  </div>
                  {% if message.sender.my_profile.type == 'C' %}
                  <div class="media-right">
                      <a class="media-inner" href="{% url 'userena_profile_detail' message.sender %}">
                          <img class="media-object img-circle" src="{{message.sender.my_profile.get_mugshot_url}}" alt="{{ message.sender.first_name }}">
                      </a>
                  </div>
                  {% else %}
                  <div class="media-left">
                      <span class="obj-replace"></span>
                  </div>
                  {% endif %}
              </li>
              {% endfor %}
          </ul>
          {% endif %}
        </div>
        <div class="col-md-4 sidebar">
          {% include "citizen_refuge/space-block.html" with space=application.space %}
        </div>
      </div>
    </div>
</div>
{% endblock %}



{% block js_ %}
    <script type="text/javascript">
        
        
    </script>
{% endblock %}
