{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}
{% load common_filters %}

{% block title %}{% blocktrans with citizenspace.citizen.user.username as username %}{{ username }}'s refuge spaces.{% endblocktrans %}{% endblock %}
{% block body_class %}space hide-brand{% endblock %}

{% block content %}
<div class="space-banner"></div>
<div class="container">
    <div class="container-inner narrow">
        <h1 class="entry-title visible-xs">{{ citizenspace.headline }}</h1>
        <div class="media">
          <div class="media-left media-middle">
              <a class="media-inner" href="#">
                  <img class="media-object" src="{{ citizenspace.citizen.user.my_profile.get_mugshot_url }}" alt="{{ citizenspace.citizen.user.first_name }}">
                  {{ citizenspace.citizen.user.first_name }}
              </a>
          </div>
          <div class="media-body">

            <h1 class="entry-title hidden-xs">{{ citizenspace.headline }}</h1>
            <div class="row space-info">
              <div class="col-sm-2 space-item">
                <i class="fa fa-bed"></i><br>
                {{ citizenspace.guests }} guest(s)
              </div>
              {% for ad in citizenspace.additional%}
                <div class="col-sm-2 space-item">
                  <i class="fa fa-{{ space_list_icon|get_item:ad }}"></i><br>
                  {{ space_list|get_item:ad }}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <hr>
        <h3 class="entry-subtitle">Description</h3>
        <p>{{ citizenspace.full_description }}</p>
        <hr>
        <h3 class="entry-subtitle">Photos</h3>
        <p class="space-photos">
        {% for photo in citizenspace.spacephoto_set.all %}
            <img src="{{photo.image.url|media}}" alt="{{ profile.user.username }}">
        {% endfor %}
        </p>
    </div>
</div>
{% endblock %}
