{% extends "base.html" %}
{% load i18n sekizai_tags staticfiles %}
{% load common_filters %}

{% block head %}
{{ space_form.media }}
{% endblock %}

{% block title %}MyRefuge - {% trans "Edit Space" %}{% endblock %}

{% block css_ %}
<link rel="stylesheet" href="{% static "bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" %}" />
{% endblock %}

{% block content %}
<div class="space-banner"></div>
<div class="container">
    <div class="container-inner narrow">
        {% if all_valid %}
            <p class="alert alert-success">{% trans "Saved!" %}</p>
        {% endif %}
        <form class="account-form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include "form/input.html" with field=space_form.headline label="Headline description" required=space_form.fields.headline.required %}
            <div class="vr-1 required ">
                <label for="id_address" class="form-label sr-only">Address of the available space</label>
                    {{space_form.address}}
            </div>
            {% include "form/input.html" with field=space_form.guests label="Number of guests to accommodate" revealType=True required=space_form.fields.guests.required %}
            <div class="vr-1 checkboxs inline">
                {% for additional_error in space_form.additional.errors %}
                    <label class="invalid">{{ additional_error | escape }}</label>
                {% endfor %}
                {{space_form.additional}}
            </div>

            <label class="vr-1 form-title">Avalibility</label>
            {{ date_form.management_form }}
            {% for dateform in date_form %}
            <div class="dateform form-inner">
                {% include "form/input.html" with field=dateform.start_date label="From" type="hidden" sr=False required=dateform.fields.start_date.required class="date-block right from" value_=dateform.start_date.value|date:"d/m/Y" %}
                {% include "form/input.html" with field=dateform.end_date label="To" type="hidden" sr=False required=dateform.fields.end_date.required class="date-block right to" value_=dateform.end_date.value|date:"d/m/Y" %}

                {% for hidden in dateform.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {{dateform.DELETE}}
            </div>
            {% endfor %}

            {% include "form/textarea.html" with field=space_form.full_description label=space_form.full_description.label required=space_form.fields.full_description.required %}

            
            <label class="vr-1 form-title">{% trans "Photos" %}</label>
            {{ image_form.management_form }}
            {% for imageform in image_form %}
            <div class="imageform form-inner">
                <img class="demo-img" src="{{imageform.image.value}}">
                {{imageform}}
            </div>
            {% endfor %}

            <input class="btn btn-block btn-primary" type="submit" value="{% trans "Update" %}"/>
        </form>
    </div>
</div>

{% endblock %}


{% block js_ %}
    <script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false" type="text/javascript"></script>
    <script src="{% static "js/jquery.geocomplete.min.js" %}" type="text/javascript"></script>
    <script src="{% static "address/js/address.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery.formset.js" %}" type="text/javascript"></script>
    <script src="{% static "bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" %}" type="text/javascript"></script>
    <script type="text/javascript">
        (function () {
            whenAvailable('google', function() {
                $("#id_address").geocomplete();
            });

            function createDatepicker($wrap) {
                (function() {
                    var $from = $wrap.find('.date-block.from input'),
                        $to = $wrap.find('.date-block.to input');
                     
                    $from.datepicker({
                            format: 'dd/mm/yyyy',
                            startDate: '0d'
                        })
                        .on('changeDate', function(ev) {
                            if (ev.date.valueOf() > checkout.viewDate.valueOf()) {
                                checkout.setStartDate(ev.date);
                            }
                            checkin.hide();
                            $to.focus();
                        });

                    $to.datepicker({
                            format: 'dd/mm/yyyy',
                            startDate: '1d'
                        })
                        .on('changeDate', function(ev) {
                            checkout.hide();
                        });

                    var checkin = $from.data('datepicker'),
                        checkout = $to.data('datepicker');
                })();
                

            }

            $(function() {
                $('.dateform.form-inner').formset({
                    prefix: '{{ date_form.prefix }}',
                    addText: 'Add period of availability',
                    deleteText: 'Remove',
                    addCssClass: 'btn-add-form daterange primary',
                    deleteCssClass: 'btn-remove-form primary'
                });
                $('.imageform.form-inner').formset({
                    prefix: '{{ image_form.prefix }}',
                    addText: 'More image',
                    deleteText: 'Remove',
                    addCssClass: 'btn-add-form primary',
                    deleteCssClass: 'btn-remove-form primary'
                });

                $('.btn-add-form.daterange').click(function () {
                    createDatepicker($('.dateform.form-inner').last());
                });
                $('.dateform.form-inner').each(function() {
                    createDatepicker($(this));
                });
                
            });
        })();
        
    </script>
{% endblock %}
