{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}
{% load common_filters %}

{% block title %}{% blocktrans with user.username as username %}{{ username }}'s refuge spaces.{% endblocktrans %}{% endblock %}


{% block content %}
<div class="container">
    <div class="container-inner">
        <h1 class="entry-title">{% trans "My refuge spaces" %}</h1>
        <div class="row">
          {% for space in citizenspace_list %}
          <div class="col-sm-4">
            <div class="thumbnail card">
              <a href="{% url 'refuge_space_detail' space.id %}">
                <img class="img-full" src="{{space.spacephoto_set.all.0.image.url|media}}" alt="{{ space.headline }}" style="background-image: url({{space.spacephoto_set.all.0.image.url|media}});">
              </a>
              <div class="caption">
                <h3><a href="{% url 'refuge_space_detail' space.id %}">{{space.headline}}</a></h3>
                <p>{{space.full_description}}</p>
              </div>
              <footer class="footer">
                <strong>Availabilities</strong>
                <p>
                  {% for ad in space.additional%}
                    {{ space_list|get_item:ad }}{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                </p>
              </footer>
            </div>
          </div>
          {% if forloop.counter0|divisibleby:3 %}
        </div>
        <div class="row">
          {% endif %}
          {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
