{% extends 'base.html' %}
{% load i18n %}
{% load i18n sekizai_tags staticfiles %}
{% load url from future %}
{% load common_filters %}

{% block title %}{% trans "Launch MyRefuge" %}{% endblock %}
{% block body_class %}search hide-brand{% endblock %}


{% block css_ %}
<link rel="stylesheet" href="{% static "bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" %}" />
<link rel="stylesheet" href="{% static "flipclock/compiled/flipclock.css" %}" />
<style type="text/css">
    html {
        height: auto;
    }
</style>
{% endblock %}


{% block content %}

<div class="search-bg">
    <div class="container-fluid search-bg-inner fill-height"> 
        <div class="row search-wrapper">
            <form action="{% url 'search' %}" class="container-inner narrow form-inline search-form">
                {% include "form/search-block.html" with form=form %}
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
        <div class="greeting">
            <h1 class="title">{% trans "Welcome home" %}</h1>
            <h3 class="subtitle">{% trans "Find a place to stay with hosts around the world" %}</h3>
        </div>
        <div class="time-box">
            <div class="time-inner">
                <div class="time-counter" id="countup"></div>
                <span class="extra-text">{% trans "Since launch" %}</span>
            </div>
            <div class="time-inner">
                <div class="time-counter" id="countdown"></div>
                <p class="extra-text">{% trans "Until" %} <strong>10/10/2015 10:10:00</strong></p>
            </div>
            <p class="help-text">on 10 October, 10:10am, refugee seekers will be able to contact refuge providers if there are 2,000 available beds on MyRefuge</p>
        </div>
    </div>
</div>

<div class="launch overlay">
    <div class="overlay-inner">
        <div class="overlay-cover">
            <div class="overlay-content">
                <p>
                    <a href="" class="btn btn-launch">LAUNCH</a><br>
                    <a href="" class="logo">&nbsp;</a>
                </p>
            </div>
        </div>
    </div>
</div>

{% if not launch_date %}
{% endif %}

{% endblock %}

{% block js_ %}
    <script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false" type="text/javascript"></script>
    <script src="{% static "js/jquery.geocomplete.min.js" %}" type="text/javascript"></script>
    <script src="{% static "address/js/address.js" %}" type="text/javascript"></script>
    <script src="{% static "bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" %}" type="text/javascript"></script>
    <script src="{% static "flipclock/compiled/flipclock.min.js" %}" type="text/javascript"></script>

    <script type="text/javascript">
        whenAvailable('google', function() {
            $("#{{form.address.id_for_label}}").geocomplete();
        });
        $(function() {
            var $from = $('.form-group.from input'),
                $to = $('.form-group.to input');

            if (window.innerWidth > 991) {
                $('#provider-places').css('min-height', (window.innerHeight-$('.navbar.navbar-refugee').height()) + 'px');
            }
             
            $from.datepicker({
                    format: 'dd/mm/yyyy',
                    startDate: '0d'
                })
                .on('changeDate', function(ev) {
                    if (ev.date.valueOf() > checkout.viewDate.valueOf()) {
                        checkout.setStartDate(ev.date);
                    }
                    checkin.hide();
                    $to.focus();
                });

            $to.datepicker({
                    format: 'dd/mm/yyyy',
                    startDate: '1d'
                })
                .on('changeDate', function(ev) {
                    checkout.hide();
                });

            var checkin = $from.data('datepicker'),
                checkout = $to.data('datepicker');

            var countup = $('#countup').FlipClock({
                clockFace: 'DailyCounter',
                autoStart: false,
            });
            var countdown = $('#countdown').FlipClock({
                clockFace: 'DailyCounter',
                countdown: true,
                autoStart: false,
            });

            function startTimer() {
                var currentDate = moment(),
                    launchDate = currentDate;

                {% if launch_date %}
                    launchDate = moment('{{launch_date.start_date|date:"d-m-Y H:i"}}', 'DD-MM-YYYY HH:mm');
                    currentDate = moment('{{current_date|date:"d-m-Y H:i"}}', 'DD-MM-YYYY HH:mm');
                {% endif %}


                var diff = currentDate.diff(launchDate);


                countup.setTime(diff/1000);
                countup.start();

                var releaseDate  = moment('10-10-2015 10:10', 'DD-MM-YYYY HH:mm'),
                    diff = releaseDate.diff(currentDate);

                countdown.setTime(diff/1000);
                countdown.start();
            }
            {% if launch_date %}
                startTimer();
            {% endif %}


            $('.btn.btn-launch').on('click', function() {
                $.get('{% url "launch_update" %}');

                $('.launch.overlay').addClass('close');

                startTimer();
                return false;
            });
        });
    </script>
{% endblock %}
