{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}
{% load common_filters %}

{% block title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile.{% endblocktrans %}{% endblock %}


{% block content %}
<div class="container">
    <div class="profile container-inner narrow">
        {% block profile_details %}
            <div class="media">
                <div class="media-left">
                    <a class="media-inner" href="#">
                        <img class="media-object" src="{{profile.get_mugshot_url}}" alt="{{ profile.user.username }}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h4>
                    <dl class="profile-definition">
                        {% block profile_definition_list %}
                            {% if citizen.gender %}
                                <dt class="sr-only">{% trans "Gender" %}</dt>
                                <dd>{{ citizen.gender }}</dd>
                            {% endif %}
                            {% if profile.user.email and not hide_email %}
                                <dt class="sr-only">{% trans "Email" %}</dt>
                                <dd>{{ profile.user.email }}</dd>
                            {% endif %}
                            {% if profile.age %}
                                <dt class="sr-only">{% trans "Age" %}</dt>
                                <dd>{{ profile.age }}</dd>
                            {% endif %}
                            {% if profile.website %}
                                <dt class="sr-only">{% trans "Website" %}</dt>
                                <dd>{{ profile.website|urlize }}</dd>
                            {% endif %}
                            {% if profile.location %}
                                <dt class="sr-only">{% trans "Location" %}</dt>
                                <dd>{{ profile.location }}</dd>
                            {% endif %}
                            {% if profile.about_me %}
                                <dt class="sr-only">{% trans "About me" %}</dt>
                                <dd>{{ profile.about_me }}</dd>
                            {% endif %}
                            <dt>More about me</dt>
                            <dd><a href="{% url 'refuge_myspace_list' %}">{% trans "My offered spaces" %}</a></dd>
                        {% endblock %}
                    </dl>
                </div>
            </div>
            
          
        {% endblock %}
    </div>
</div>
{% endblock %}
