{% extends 'base.html' %}
{% load i18n %}
{% load i18n sekizai_tags staticfiles %}
{% load url from future %}
{% load common_filters %}

{% block title %}{% trans "Search for places" %}{% endblock %}
{% block body_class %}search{% endblock %}


{% block css_ %}
<link rel="stylesheet" href="{% static "bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" %}" />
{% endblock %}


{% block content %}

<div class="search-bg">
    <div class="container-fluid search-bg-inner fill-height"> 
        <div class="row search-wrapper">
            <form action="{% url 'search' %}" class="container-inner narrow form-inline search-form">
                {% include "form/search-block.html" with form=form %}
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
        <div class="greeting">
            <h1 class="title">{% trans "Welcome home" %}</h1>
            <h3 class="subtitle">{% trans "Find a place to stay with hosts around the world" %}</h3>
        </div>
        <div class="container-inner narrow counters">
            <div class="row">
                <h2 class="spaces-counter col-sm-6">
                    <span class="number">{{ guests_number }}</span>
                    <span class="text">beds provided</span>
                </h2>
                <h2 class="refugees-counter col-sm-6">
                    <span class="number">{{ refugees_number }}</span>
                    <span class="text">refugees registered</span>
                </h2>
            </div>
        </div>
        
        {% if site_ready %}
        {% elif launch_date %}
        <div class="time-box">
            <div class="time-inner">
                <div class="time-counter" id="countdown"></div>
                <p class="extra-text">{% trans "Until host requests enabled." %} <a href="{% url 'myrefuge_help' %}">{% trans "Learn more" %}</a></p>
            </div>
            <!-- <p class="help-text">on 10 October, 10:10am, refugee seekers will be able to contact refuge providers if there are 2,000 available beds on MyRefuge</p> -->
        </div>
        {% endif %}

    </div>
</div>

{% endblock %}

{% block js_ %}
    <script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false" type="text/javascript"></script>
    <script src="{% static "js/jquery.geocomplete.min.js" %}" type="text/javascript"></script>
    <script src="{% static "address/js/address.js" %}" type="text/javascript"></script>
    <script src="{% static "bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" %}" type="text/javascript"></script>
    <script src="{% static "jquery.countdown/dist/jquery.countdown.min.js" %}" type="text/javascript"></script>

    <script type="text/javascript">
        whenAvailable('google', function() {
            $("#{{form.address.id_for_label}}").geocomplete();
        });
        $(function() {
            var $from = $('.form-group.from input'),
                $to = $('.form-group.to input');

            if (window.innerWidth > 991) {
                $('#provider-places').css('min-height', (window.innerHeight-$('.navbar.navbar-refugee').height()) + 'px');
            }
             
            $from.datepicker({
                    format: 'dd/mm/yyyy',
                    startDate: '0d'
                })
                .on('changeDate', function(ev) {
                    if (ev.date.valueOf() > checkout.viewDate.valueOf()) {
                        checkout.setStartDate(ev.date);
                    }
                    checkin.hide();
                    $to.focus();
                });

            $to.datepicker({
                    format: 'dd/mm/yyyy',
                    startDate: '1d'
                })
                .on('changeDate', function(ev) {
                    checkout.hide();
                });

            var checkin = $from.data('datepicker'),
                checkout = $to.data('datepicker');

            {% if not site_ready %}
                function startTimer() {
                    $('#countdown').countdown('{{final_date|date:"Y/m/d H:i:s"}}',
                        function(event) {
                            $(this).html(event.strftime(
                                '<span class="time-block"><span>%D</span><br>days</span>' +
                                '<span class="time-block"><span>%H</span><br>hours</span></span>' +
                                '<span class="time-block"><span>%M</span><br>minutes</span></span>' +
                                '<span class="time-block"><span>%S</span><br>seconds</span></span>'));
                        }
                    );
                }

                startTimer();

            {% endif %}
        });
    </script>
{% endblock %}
