{% load i18n %}
{% load url from future %}
{% load common_filters %}

<div class="thumbnail flat" id="space-{{space.id}}">
  <a href="{% if href %}{% url href id %}{% else %}{% url 'refuge_space_detail' space.id %}{% endif %}">
    <img class="img-full" src="{{space.spacephoto_set.all.0.image.url}}" alt="{{ space.headline }}" style="background-image: url({{space.spacephoto_set.all.0.image.url}});">
  </a>
  <div class="caption">
    <h3><a href="{% if href %}{% url href id %}{% else %}{% url 'refuge_space_detail' space.id %}{% endif %}">{{space.headline}}</a></h3>
    <p>
      {{space.address}}
    </p>

  </div>
  <footer class="footer">
    <strong>Availabilities</strong>
    <p>
      {% for daterange in space.daterange_set.all %}
        From <strong>{{ daterange.start_date }}</strong> to <strong>{{ daterange.end_date }}</strong>
        {% if not forloop.last %}<br>{% endif %}
      {% endfor %}
    </p>
  </footer>
</div>
