{% extends "base.html" %}
{% load i18n sekizai_tags staticfiles %}

{% block title %}MyRefuge - {% trans "Login details" %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}

<div id="account">
	<div class="white-sheet">
		<div class="text-center vr-2">
			<strong>{% trans "Login details" %}</strong>
		</div>

		<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
			{{ wizard.management_form }}
			{% if wizard.form.forms %}
				{{ wizard.form.management_form }}
				{% for form in wizard.form.forms %}
					{{ form }}
				{% endfor %}
			{% else %}
				{% include "form/input.html" with field=wizard.form.username label=wizard.form.username.label %}
				{% include "form/input.html" with field=wizard.form.email label=wizard.form.email.label %}
				{% include "form/input.html" with field=wizard.form.password1 label="Password" %}
				{% include "form/input.html" with field=wizard.form.password2 label=wizard.form.password2.label %}
			{% endif %}

			<input class="btn btn-block btn-primary btn-lg" type="submit" value="{% trans "Submit" %}"/>
		</form>
	</div>
</div>

{% addtoblock "js" %}
	<script src="{% static "js/jQuery.MultiFile.min.js" %}"></script>
{% endaddtoblock %}

{% endblock %}
