{% load i18n %}{% autoescape off %}{% load url from future %}
<html>
  <body>
    <p>{% blocktrans with ngo.name as ngo_name %}Dear {{ngo_name}},{% endblocktrans %}</p>
    <p>
      {% trans "A space has been created near your organization:" %} </br >
      http://{{ site.domain }}{% url 'refuge_space_detail' space.id %}
    </p>
    <p>
      {% trans "Thanks for using our site!" %}<br />
      {% trans "Sincerely" %},<br />
      {{ site.name }}
    </p>
  </body>
</html>
{% endautoescape %}
