{% load i18n %}{% autoescape off %}{% load url from future %}
<html>
  <body>
    <p>Dear {{ngo.name}},</p>
    <p>
      {{ space.citizen.user.username }} wants to host up to {{ space.guests }} in their property, which is in {{ space.public_address }}.
    </p>
    <p>
      To view more about this listing, click http://{{ site.domain }}{% url 'refuge_space_detail' space.id %}
    </p>
    <p>
      If you are supporting a refugee that could benefit from this offer, please get in touch with us on hosting@myrefuge.world
    </p>
    <p>
      Looking forward to working together
    </p>
    <p>
      Sholi Loewenthal<br />
      CEO <br />
      MyRefuge.World
    </p>
    <p>
    <small>
      MyRefuge.World is working in partnership with NACCOM and other NGOs to develop a 'one-stop-shop' technology to help refugees integrate into hosting communities. The goal is to bring together communities around the world to help refugees out of refugee camps and into communities where they can build a future. We are currently piloting a small scale UK collaboration around accommodation and building features into MyRefuge to enable other provisions - including social employment, education etc - to be offered and found via the platform.
    </small>
    </p>
  </body>
</html>
{% endautoescape %}
