@mixin hide-select-arrow() {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

@mixin placeholer-color($color: #fff) {
    
    &::-webkit-input-placeholder {
        color: $color;
    }
    &:-moz-placeholder {
        /* FF 4-18 */
        color: $color;
    }
    &::-moz-placeholder {
        /* FF 19+ */
        color: $color;
    }
    &:-ms-input-placeholder {
        /* IE 10+ */
        color: $color;
    }
}

@mixin tera-rectangle() {
    padding-bottom: $rectangle-percent;
    height: 0;
    width: 100%;
}

@mixin tera-background-format() {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@mixin tera-image-cover-format() {
    @include tera-rectangle();
    @include tera-background-format();
}

@mixin tera-arrow($align: left) {
    border: $tera-arrow-size solid transparent;
    top: 10px;
    &, &:after {
        width: 0;
        height: 0;
        position: absolute;
    }
    &:after {
        content: '';
        border: ($tera-arrow-size - 2px) solid transparent;
        top: -($tera-arrow-size - 2px);
    }
    @if $align == left {
        left: 0;
        margin-left: -($tera-arrow-size * 2);
        border-right-color: $tera-border-color;
        &:after {
            margin-left: -($tera-arrow-size - 4px);
            border-right-color: $tera-item-bg;
        }
    } @else {
        right: 0;
        left: auto;
        margin-right: -($tera-arrow-size * 2);
        border-left-color: $tera-border-color;
        &:after {
            margin-left: -($tera-arrow-size);
            border-left-color: $tera-item-bg;
        }
    }
}
