$white: #fff;
$white-darken: #F7F7F7;
$black: #000;
$black-light: #333;
$dark: #878787;
$dark-light: #767474;
$gray: #EEEEEE;
$gray-darken: #666666;
$blood: #FF0800;
$blur: #ddd;

$navbar-color: $gray-darken;
$rectangle-percent: 56.25%;