{% extends "base.html" %}
{% load i18n %}
{% load i18n sekizai_tags staticfiles %}

{% block header %}{% endblock %}

{% block content %}
<div id="account">
	<div class="white-sheet">
		<div class="text-center vr-2">
			<strong>
				<!-- Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }} -  -->
				{% trans "Where are you from?" %}
			</strong>
		</div>

		<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
			{{ wizard.management_form }}
			{% if wizard.form.forms %}
				{{ wizard.form.management_form }}
				{% for form in wizard.form.forms %}
					{{ form }}
				{% endfor %}
			{% else %}
				{% include "form/input.html" with field=wizard.form.hometown label=wizard.form.hometown.label required=wizard.form.fields.hometown.required %}
				{% include "form/input.html" with field=wizard.form.full_address label=wizard.form.full_address.label required=wizard.form.fields.full_address.required %}
				{% include "form/input.html" with field=wizard.form.current_address label="Current address (if applicable)" %}
				{% include "form/textarea.html" with field=wizard.form.story label="Your Story (optional)" rows="10" %}
			{% endif %}

			<input class="btn btn-block btn-primary" type="submit" value="{% trans "Next where do you want to go?" %}"/>
		</form>
	</div>
</div>


{% addtoblock "js" %}
	{{ wizard.form.fields.full_address.widget.media }}
    <script type="text/javascript">
        (function () {
			whenAvailable('google', function() {
				$("#id_address-full_address").geocomplete();
				$("#id_address-current_address").geocomplete()
			});
        })();
    </script>
{% endaddtoblock %}

{% endblock %}
