{% extends "base.html" %}
{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<div id="account">
	<div class="white-sheet">
		<div class="text-center vr-2">
			<strong>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }} - {% trans "Address" %}</strong>
		</div>

		<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
			{{ wizard.management_form }}
			{% if wizard.form.forms %}
				{{ wizard.form.management_form }}
				{% for form in wizard.form.forms %}
					{{ form }}
				{% endfor %}
			{% else %}
				{% include "form/input.html" with field=wizard.form.hometown label=wizard.form.hometown.label %}
				{% include "form/input.html" with field=wizard.form.current_address label=wizard.form.current_address.label %}
				{% include "form/textarea.html" with field=wizard.form.story label=wizard.form.story.label rows="10" %}
			{% endif %}

			{% include "form/step_btns.html" with steps=wizard.steps %}

			<input class="btn btn-block btn-primary btn-lg" type="submit" value="{% trans "Submit" %}"/>
		</form>
	</div>
</div>
{% endblock %}
