{% load i18n %}
{% load url from future %}
{% load common_filters %}

<div class="thumbnail flat">
  <a href="{% url 'refuge_space_application' application.id %}">
    <img class="img-full" src="{{application.space.spacephoto_set.all.0.image.url|media}}" alt="{{ space.headline }}" style="background-image: url({{application.space.spacephoto_set.all.0.image.url|media}});">
  </a>
  <div class="caption">
    <h3><a href="{% url 'refuge_space_application' application.id %}">{{application.space.headline}}</a></h3>
    <p>{{application.space.full_description|slice:":40"}}</p>
  </div>
  <footer class="footer">
    <strong>Availabilities</strong>
    <p>
      {% for daterange in application.space.daterange_set.all %}
        From <strong>{{ daterange.start_date }}</strong> to <strong>{{ daterange.end_date }}</strong>
        {% if not forloop.last %}<br>{% endif %}
      {% endfor %}
    </p>
  </footer>
</div>