{% extends "base.html" %}
{% load i18n sekizai_tags staticfiles %}

{% block title %}MyRefuge - {% trans "Personal details" %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}

<div id="account">
	<div class="white-sheet">
		<h4 class="title">{% trans "Tell us about yourself" %}</h4>

		<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
			{{ wizard.management_form }}
			{% if wizard.form.forms %}
				{{ wizard.form.management_form }}
				{% for form in wizard.form.forms %}
					{{ form }}
				{% endfor %}
			{% else %}
				{% include "form/input.html" with field=wizard.form.first_name label=wizard.form.first_name.label required=wizard.form.fields.first_name.required %}
				{% include "form/input.html" with field=wizard.form.last_name label=wizard.form.last_name.label required=wizard.form.fields.last_name.required %}
				{% include "form/input.html" with field=wizard.form.dob label="Date of Birth" type="hidden" sr=False name="basic-dob_" required=wizard.form.fields.dob.required class="date-block right" %}
				{% include "form/select.html" with field=wizard.form.gender required=wizard.form.fields.gender.required %}
				{% include "form/input.html" with field=wizard.form.mugshot label="Photo" sr=False %}
			{% endif %}

			<button class="btn btn-primary" name="skip_family" type="submit" value="1">{% trans "Traveling on my own. Next" %}</button>
			<button class="btn btn-primary btn-right" type="submit" value="">{% trans "Add family member" %}</button>
		</form>
	</div>
</div>

{% addtoblock "js" %}
	<script type="text/javascript">
		(function () {
			$("#id_basic-dob").dateDropdowns({
				submitFormat: "dd/mm/yyyy",
				submitFieldName: "basic-dob",
				wrapperClass: "date-dropdowns inline",
				defaultDateFormat: "dd/mm/yyyy",
				defaultDate: $("#id_basic-dob").val()
			});
		})();
	</script>
{% endaddtoblock %}

{% endblock %}
