{% extends "base.html" %}
{% load i18n sekizai_tags staticfiles %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block title %}MyRefuge - {% trans "Where to go?" %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div id="account">
    <div class="white-sheet">
        <h4 class="title">{% trans "Where do you want to go?" %}</h4>

        <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                    {{ form }}
                {% endfor %}
            {% else %}
                {% include "form/select.html" with field=wizard.form.countries label=wizard.form.countries.label multiple=True %}
                
                {% include "form/checkbox.html" with field=wizard.form.agree label=wizard.form.agree.label label='I agree to the terms and conditions <div class="help-text"><ul><li>We will not share your personal information with anyone</li><li>In providing shelter, we will give you the option to connect with or be contacted by relevant services or authorities as and when needed in processes of asylum</li><li>MyRefuge is providing a matchmaking service. You agree to abide by the laws of relevant countries with regards to Asylum.</li></ul></div>' %}
            {% endif %}

            <input class="btn btn-block btn-primary" type="submit" value="{% trans "Finish! Search places!" %}"/>
        </form>
    </div>
</div>


{% addtoblock "js" %}
    <script type="text/javascript">
        (function () {
            // deselect first
            $('#id_country-countries option').attr('selected', false);
            $('#id_country-countries').selectize({
                placeholder: "Country names",
            });
        })();
    </script>
{% endaddtoblock %}

{% endblock %}