{% extends "base.html" %}
{% load sekizai_tags staticfiles %}
{% block content %}
<form method="post" enctype="multipart/form-data">{% csrf_token %}
{{ profile_form }}
<input type="submit" value="Update" name="profile-button" />
</form>

<form method="post" enctype="multipart/form-data">{% csrf_token %}
{{ about_form }}
<input type="submit" value="Update" name="about-button" />
</form>

<form method="post" enctype="multipart/form-data">{% csrf_token %}
{{ family_form }}
<input type="submit" value="Update" name="family-button" />
</form>

{% addtoblock "js" %}
<script src="{% static "js/jQuery.MultiFile.min.js" %}"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script src="{% static "js/jquery.formset.js" %}"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script>
//$('form #citizen-refuge-dates').formset();
</script>
{% endaddtoblock %}
{% endblock %}
