{% extends "base.html" %}
{% load i18n sekizai_tags staticfiles %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block title %}MyRefuge - {% trans "Family details" %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div id="account">
	<div class="white-sheet">
		<h4 class="title">{% trans "About your family member" %}</h4>
		<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
			{{ wizard.management_form }}
			<div>
				{% if wizard.form.forms %}
					{{ wizard.form.management_form }}
					<div class="to-clone">
						{% for form in wizard.form.forms %}
						<div class="form-inner">
							{% include "form/input.html" with field=form.name label=form.name.label required=form.fields.name.required %}
							{% include "form/input.html" with field=form.dob label="Date of Birth" type="hidden" sr=False name="family-0-dob_" required=form.fields.dob.required class="date-block right" %}
							{% include "form/select.html" with field=form.gender required=form.fields.gender.required %}
							{% include "form/input.html" with field=form.relationship label=form.relationship.label required=form.fields.relationship.required %}
							{% include "form/input.html" with field=form.image label=form.image.label sr=False label="Photo" %}
						</div>
						{% endfor %}
					</div>
				{% else %}
					{{ wizard.form }}
				{% endif %}
			</div>

			<input class="btn btn-block btn-primary" type="submit" value="{% trans "Finish adding family. Next" %}"/>
		</form>

		{% addtoblock "js" %}
		<script src="{% static "js/jquery.formset.js" %}"></script>
		{% endaddtoblock %}

		{% addtoblock "js" %}
			<script type="text/javascript">
				function createDatepicker(id) {
					/*var picker = new Pikaday({
						field: document.getElementById(id),
						format: 'DD/MM/YYYY',
						minDate: moment("1915-01-01").toDate(),
						maxDate: new Date(),
						yearRange: [1915, 2015]
					});*/

					$('#' + id).dateDropdowns({
						submitFormat: "dd/mm/yyyy",
						submitFieldName: id.replace('id_',''),
						wrapperClass: "date-dropdowns inline",
						minYear: 1915,
						defaultDateFormat: "dd/mm/yyyy",
						defaultDate: $('#' + id).val()
					});
					
				}

				$(function() {
					$('form .form-inner').formset({
						prefix: '{{ wizard.form.prefix }}',
						addText: 'Add another',
						deleteText: 'Remove',
						addCssClass: 'btn-add-form btn btn-block btn-primary',
						deleteCssClass: 'formset-control vr-1'
					});

					$('.btn-add-form').click(function () {
						var id = $('.form-inner').last().find('.date-block input').attr('id');
						createDatepicker(id);
					});

					$('.date-block input').each(function() {
						createDatepicker($(this).attr('id'));
					});

					
				});
			</script>
		{% endaddtoblock %}
	</div>
</div>
{% endblock %}
