#account {
	box-sizing: border-box;
	width: 100%;
	min-height: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	background: {
		color: #EEE;
		image: url($imgDir + '/main-bg.jpg');
		size: cover;
	}

	.white-sheet {
		width: 95%;
		max-width: 410px;
		margin: 0 auto;
		@include card(2);
	}

	.form-title {
		font-weight: bold;
		color: #000;
		text-align: center;
	}

	input[type="text"], select, textarea,
	input[type="password"], input[type="number"],
	.selectize-input,
	.selectize-control.single .selectize-input.input-active {
		background-color: $gray;
		border: 0 none;

		@include placeholer-color($black);
	}

	.selectize-control.multi .selectize-input > div {
		background-color: $white;
	}

	.selectize-input {
		border-radius: 0 0 0;
	}

	.title {
		margin: 10px 0 20px;
		font-size: 22px;
	}
}
