#signup {
	box-sizing: border-box;
	width: 100%;
	min-height: 100%;
	padding-top: 30px;
	background: {
		color: #EEE;
		image: url($imgDir + '/login-bg.jpg');
		size: cover;
	}

	.white-sheet {
		box-sizing: border-box;
		width: 90%;
		max-width: 400px;
		padding: 20px;
		position: relative;
		margin: 0 auto;
		background: #FFF;
		border-radius: 2px;
		@include card(2);
	}

	.form-step {
		background-color: $pink;
		padding: 15px;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		border-top-left-radius: $btn-border-radius-base;
		border-top-right-radius: $btn-border-radius-base;
		font-weight: bold;
		color: #FFF;
		text-align: center;
	}

	form {
		margin-top: 40px;
		color: #565A5C;
		text-align: center;
	}
}
