{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}MyRefuge - {% trans "Account activation failed." %}{% endblock %}

{% block content %}
<div id="account">
	<div class="white-sheet text-center">
		<div class="vr-2">
			<h4>{% trans "Your account could not be activated..." %}</h4>
		</div>

		<p>{% trans "Your account could not be activated. This could be because your activation link has aged." %}</p>
		<p>{% trans "Please try signing up again or contact us if you think something went wrong." %}</p>
	</div>
</div>
{% endblock %}
