{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}MyRefuge - {% trans "Disabled account" %}{% endblock %}

{% block content %}
<div id="account">
	<div class="white-sheet text-center">
		<div class="vr-2">
			<h4>{% trans "Your account has been disabled" %}</h4>
		</div>

		<p>{% trans "It seems your account has been disabled." %}</p>
		<p>{% trans "If you feel that injustice has been done to you, feel free to contact the administrators to find out why." %}</p>
	</div>
</div>
{% endblock %} 
