{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Email verification" %}{% endblock %}

{% block content %}
<div id="account">
	<div class="white-sheet text-center">
		<div class="vr-2">
			<h4>{% trans "Confirm your new email" %}</h4>
		</div>

		<p>{% blocktrans with viewed_user.userena_signup.email_unconfirmed as email %}You have received an email at {{ email }}.{% endblocktrans %}</p>
		<p>{% blocktrans with viewed_user.username as username %}To associate this email address with your account ({{ username }}) click on the link provided in this email.{% endblocktrans %}</p>
	</div>
</div>
{% endblock %}
