{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}MyRefuge - {% trans "Reset password" %}{% endblock %}

{% block content %}
<div id="account">
	<div class="white-sheet">
		<div class="text-center vr-2">
			<h4>{% trans "Reset Password" %}</h4>
		</div>

		<form action="" method="post">
			{% csrf_token %}
			{% include "form/input.html" with field=form.email label=form.email.label %}

			<input class="btn btn-block btn-primary btn-lg" type="submit" value="{% trans "Submit" %}"/>
		</form>
	</div>
</div>
{% endblock %}
