{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}MyRefuge - {% trans "Log In" %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}

<div id="account">
	<div class="white-sheet">
		<div class="form-title vr-2">{% trans "Log In" %}</div>

		<form action="" method="post">
			{% csrf_token %}
			<div class="vr-1 text-center">
			{% for error in form.non_field_errors %}
				<label class="invalid">{{ error | escape }}</label>
			{% endfor %}
			</div>

			{% for field in form %}
				{% comment %} Displaying checkboxes differently {% endcomment %}
				{% if field.name == 'remember_me' %}
					<div class="checkbox text-center">
						<label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
					</div>
				{% else %}
					{% include "form/input.html" with field=field label=field.label %}
				{% endif %}
			{% endfor %}

			<div class="forgot-password text-center vr-2">
				<a href="{% url 'userena_password_reset' %}" title="{% trans 'Forgot your password?' %}">{% trans "Forgot your password?" %}</a>
			</div>

			{% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}

			<input class="btn btn-block btn-primary btn-lg" type="submit" value="{% trans "Log In" %}">
		</form>
	</div>
</div>

{% endblock %}
