{% extends 'base.html' %}
{% load i18n %}
{% load i18n sekizai_tags staticfiles %}
{% load url from future %}
{% load common_filters %}

{% block title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile.{% endblocktrans %}{% endblock %}
{% static "x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js" %}
{% block css_ %}
<link rel="stylesheet" href="{% static "x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css" %}" />
{% endblock %}


{% block content %}
{% csrf_token %}
<div class="container">
    <div class="profile container-inner narrow">
        {% block profile_details %}
            <form class="editableform profile-form media media-center">
              <div class="media-left">
                <div class="media-inner" href="#">
                  <img class="media-object" src="{{profile.get_mugshot_url}}" alt="{{ profile.user.username }}">
                </div>
              </div>
              <div class="media-body">
                <h4 class="media-heading">{{ profile.user.username }} (<span class="field-text-editable" data-name="first_name">{{ profile.user.first_name }}</span> <span class="field-text-editable" data-name="last_name">{{ profile.user.last_name }}</span>)</h4>
                <dl class="profile-definition">
                  {% block profile_definition_list %}
                    {% if profile.user.email and not hide_email %}
                      <dt class="sr-only">{% trans "Email" %}</dt>
                      <dd>{{ profile.user.email }}</dd>
                    {% endif %}
                    {% if citizen.gender %}
                      <dt class="sr-only">{% trans "Gender" %}</dt>
                      <dd><span class="field-gender-editable" data-type="select" data-pk="1" data-name="gender">{{ gender_list|get_item:citizen.gender }}</span></dd>
                    {% endif %}
                    {% if citizen.dob %}
                      <dt class="sr-only">{% trans "Date of birth" %}</dt>
                      <dd><span class="field-date-editable" data-name="dob">{{ citizen.dob|date:"d/m/Y" }}</span></dd>
                    {% endif %}
                    <dt>More info</dt>
                    {% if profile.type == "C" %}
                      <dd><a href="{% url 'refuge_myspace_list' %}">{% trans "My offered spaces" %}</a></dd>
                    {% elif profile.type == "R" %}
                      <dd><a href="{% url 'refuge_wish_list' %}">{% trans "Booked spaces" %}</a></dd>
                    {% endif %}
                    
                  {% endblock %}
                </dl>
              </div>
            </form>
            {% if profile.type == "R" %}

            {% for family_member in family_members %}
              <form class="editableform family-form media media-center" data-pk="{{family_member.id}}">
                <a href="#" class="delete btn pull-right red"><i class="fa fa-trash"></i></a>
                <div class="media-left">
                  <div class="media-inner" href="#">
                    <img class="media-object" src="{{family_member.image}}" alt="{{ profile.user.username }}">
                  </div>
                </div>
                <div class="media-body">
                  <form class="editableform">
                    <h4 class="media-heading"><span class="field-text-editable" data-name="relationship">{{ family_member.relationship }}</span></h4>
                    <dl class="profile-definition">
                      {% if family_member.name %}
                        <dt class="sr-only">{% trans "Name" %}</dt>
                        <dd><span class="field-text-editable" data-name="name">{{ family_member.name }}</span></dd>
                      {% endif %}
                      {% if family_member.gender %}
                        <dt class="sr-only">{% trans "Gender" %}</dt>
                        <dd><span class="field-gender-editable" data-type="select" data-pk="1" data-name="gender">{{ gender_list|get_item:family_member.gender }}</span></dd>
                      {% endif %}
                      {% if family_member.dob %}
                        <dt class="sr-only">{% trans "Date of birth" %}</dt>
                        <dd><span class="field-date-editable" data-name="dob">{{ family_member.dob|date:"d/m/Y" }}</span></dd>
                      {% endif %}
                    </dl>
                  </form>
                </div>
              </form>
            {% endfor %}
            <div class="media">
              <div class="media-left">
                <div class="media-inner" href="#">
                  &nbsp;
                </div>
              </div>
              <div class="media-body">
                <a href="#" class="btn btn-default more-family btn-sm">Add another person to my profile</a>
              </div>
            </div>

            {% if family_form %}
              <form method="POST" class="hide account-form media media-center" action="{% url 'userena_profile_detail' user.username %}" enctype="multipart/form-data">
                <hr>
                <div class="media-left">
                  <div class="media-inner" href="#">
                    &nbsp;
                  </div>
                </div>
                <div class="media-body">
                  {% csrf_token %}
                  {% include "form/input.html" with field=family_form.name label=family_form.name.label required=form.fields.name.required %}
                  {% include "form/input.html" with field=family_form.dob label="Date of Birth" type="hidden" sr=False name="family-dob_" required=family_form.fields.dob.required class="date-block right date-input" %}
                  {% include "form/select.html" with field=family_form.gender required=family_form.fields.gender.required %}
                  {% include "form/input.html" with field=family_form.relationship label=family_form.relationship.label required=form.fields.relationship.required %}
                  {% include "form/input.html" with field=family_form.image label=family_form.image.label sr=False label="Photo" %}
                  <br>
                  <button href="#" class="add btn btn-default btn-sm" type="submit">Add another person to my profile</button>
                </div>
                <hr>
              </form>
            {% endif %}
            
            <form class="editableform profile-form media media-center">
                <div class="media-left">
                    <a class="media-inner"></a>
                </div>
                <div class="media-body">
                    <dl class="profile-definition">
                        {% if citizen.hometown %}
                            <dt>{% trans "Hometown" %}</dt>
                            <dd><span class="field-text-editable" data-name="hometown">{{ citizen.hometown }}</span></dd>
                        {% endif %}
                        {% if citizen.current_address %}
                            <dt>{% trans "Current location" %}</dt>
                            <dd><span class="field-text-editable" data-name="current_address">{{ citizen.current_address }}</span></dd>
                        {% endif %}
                        {% if citizen.story %}
                            <dt>{% trans "My story" %}</dt>
                            <dd><div class="field-text-editable" data-name="story" data-type="textarea">{{ citizen.story }}</div></dd>
                        {% endif %}
                        {% if citizen.countries %}
                            <dt>{% trans "Countries/citis I want to go to" %}</dt>
                            <dd>
                                {% for country in citizen.countries %}
                                    {{ countries_list.countries|get_item:country }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </dd>
                        {% endif %}
                    </dl>
                </div>
            </form>
            {% endif %}
            <div class="media">
              <div class="media-left">
                <div class="media-inner" href="#">
                  &nbsp;
                </div>
              </div>
              <div class="media-body">
                <a href="#" class="save btn btn-primary hide">Save Changes</a>
              </div>
            </div>
            

            <div class="control-group">
              <div>
                <div class="editable-input"></div>
                <div class="editable-buttons"></div>
              </div>
              <div class="editable-error-block"></div>
            </div>
        {% endblock %}
    </div>
</div>

{% endblock %}


{% block js_ %}
<script src="{% static "x-editable/dist/bootstrap3-editable/js/bootstrap-editable.js" %}" type="text/javascript"></script>

<script type="text/javascript">
  function createDatepicker($input) {
    $input.dateDropdowns({
      submitFormat: "dd/mm/yyyy",
      submitFieldName: "dob",
      defaultDateFormat: "dd/mm/yyyy",
      wrapperClass: "date-dropdowns inline",
      minYear: 1915,
      defaultDate: $input.val()
    });
  }
  $.fn.editableform.buttons = '<button class="btn btn-primary btn-sm editable-submit" type="submit"><i class="fa fa-check"></i></button><button class="btn btn-default btn-sm editable-cancel" type="button"><i class="fa fa-remove"></i></button>';

  $(function() {

    $('.field-text-editable').editable();
    $('.field-date-editable').editable({
      format: 'dd/mm/yyyy',
      viewformat: 'dd/mm/yyyy',
      datepicker: {
        weekStart: 1
      }
    });

    $('.field-gender-editable').editable({
      value: '{{citizen.gender}}',
      source: [
        {% for gender in gender_list %}
          { value: '{{gender.0}}', text: '{{gender.1}}' },
        {% endfor %}
      ]
    });

    $('.editable').on('save', function() {
      $('.btn.save').removeClass('hide');
    });

    $('.btn.more-family').click(function() {
      $('form.account-form').removeClass('hide');
      $(this).hide();
      return false;
    });

    $('.btn.save').click(function(event) {
      $('.profile-form .editable').editable('submit', {
        url: '{% url "profile_update" user.username "personal" %}',
        ajaxOptions: {
          dataType: 'json',
        },
        success: function(data, config) {
          if(data && data.success) {
            $(this).removeClass('editable-unsaved');
            $(this).removeClass('editable-error')
          } else if(data && data.errors){
            var $el = $(this);
            $.each(data.errors, function(i, v) {
              $el.each(function() {
                if ($(this).data('name') == i) {
                  $(this).addClass('editable-error');
                  return false;
                }
              });
            });
          }
        },
        error: function (error) {
        }
      });

      $('.family-form').each(function() {
        var $fm = $(this);
        $fm.find('.editable').editable('submit', { 
          url: '{% url "profile_update" user.username "family" %}',
          data: {
            id: $fm.data('pk')
          },
          ajaxOptions: {
            dataType: 'json'
          },
          success: function(data, config) {
            if(data && data.success) {
              $(this).removeClass('editable-unsaved');
              $(this).removeClass('editable-error')
            } else if(data && data.errors){
              var $el = $(this);
              $.each(data.errors, function(i, v) {
                $el.each(function() {
                  if ($(this).data('name') == i) {
                    $(this).addClass('editable-error');
                    return false;
                  }
                });
              });
            }
          },
        });
      })
    });
    $('.btn.delete').click(function() {
      $fm = $(this).parents('form');
      $.post('{% url "profile_update" user.username "family-delete" %}', {
        id: $fm.data('pk')
      }, function(res) {
        if (res && res.success) {
          $fm.remove();
        } else if(res && res.errors) {
        }
      });
      return false;
    });
    createDatepicker($('#id_dob'))
  });
</script>

{% endblock %}
