{% extends 'base.html' %}
{% load i18n %}
{% load i18n sekizai_tags staticfiles %}
{% load url from future %}
{% load common_filters %}

{% block title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile.{% endblocktrans %}{% endblock %}
{% static "x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js" %}
{% block css_ %}
<link rel="stylesheet" href="{% static "x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css" %}" />
{% endblock %}


{% block content %}
<div class="container">
    <div class="profile container-inner narrow">
        {% block profile_details %}
            <form class="editableform profile-form media media-center">
              <div class="media-left">
                <a class="media-inner" href="#">
                  <img class="media-object" src="{{profile.get_mugshot_url}}" alt="{{ profile.user.username }}">
                </a>
                <a href="#" class="save btn btn-status A">Save Changes</a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">{{ profile.user.username }} (<span class="field-text-editable" data-name="first_name">{{ profile.user.first_name }}</span> <span class="field-text-editable" data-name="last_name">{{ profile.user.last_name }}</span>)</h4>
                <dl class="profile-definition">
                  {% block profile_definition_list %}
                    {% if citizen.gender %}
                      <dt class="sr-only">{% trans "Gender" %}</dt>
                      <dd><span class="field-gender-editable" data-type="select" data-pk="1" data-name="gender">{{ gender_list|get_item:citizen.gender }}</span></dd>
                    {% endif %}
                    {% if profile.user.email and not hide_email %}
                      <dt class="sr-only">{% trans "Email" %}</dt>
                      <dd>{{ profile.user.email }}</dd>
                    {% endif %}
                    {% if citizen.dob %}
                      <dt class="sr-only">{% trans "Date of birth" %}</dt>
                      <dd><span class="field-date-editable" data-name="dob">{{ citizen.dob|date:"d/m/Y" }}</span></dd>
                    {% endif %}
                    <dt>More info</dt>
                    {% if profile.type == "C" %}
                      <dd><a href="{% url 'refuge_myspace_list' %}">{% trans "My offered spaces" %}</a></dd>
                    {% elif profile.type == "R" %}
                      <dd><a href="{% url 'refuge_wish_list' %}">{% trans "Booked spaces" %}</a></dd>
                    {% endif %}
                    
                  {% endblock %}
                </dl>
              </div>
            </form>
            {% if profile.type == "R" %}

            {% for family_member in profile.family_members %}
              <form class="editableform family-form media media-center">
                <div class="media-left">
                  <a class="media-inner" href="#">
                    <img class="media-object" src="{{family_member.image}}" alt="{{ profile.user.username }}">
                  </a>
                  <a href="#" class="save btn btn-status A">Save Changes</a>
                </div>
                <div class="media-body">
                  <form class="editableform">
                    <h4 class="media-heading">{{ family_member.relationship }}</h4>
                    <dl class="profile-definition">
                      {% if family_member.name %}
                        <dt class="sr-only">{% trans "Name" %}</dt>
                        <dd><span class="field-text-editable" data-name="name">{{ family_member.name }}</span></dd>
                      {% endif %}
                      {% if family_member.gender %}
                        <dt class="sr-only">{% trans "Gender" %}</dt>
                        <dd><span class="field-gender-editable" data-type="select" data-pk="1" data-name="gender">{{ gender_list|get_item:family_member.gender }}</span></dd>
                      {% endif %}
                      {% if family_member.dob %}
                        <dt class="sr-only">{% trans "Date of birth" %}</dt>
                        <dd><span class="field-date-editable" data-name="dob">{{ family_member.dob|date:"d/m/Y" }}</span></dd>
                      {% endif %}
                    </dl>
                  </form>
                </div>
              </form>
            {% endfor %}
            
            <form class="editableform profile-form media media-center">
                <div class="media-left">
                    <a class="media-inner"></a>
                </div>
                <div class="media-body">
                    <dl class="profile-definition">
                        {% if profile.user.refugee.hometown %}
                            <dt>{% trans "Hometown" %}</dt>
                            <dd><span class="field-text-editable" data-name="hometown">{{ profile.user.refugee.hometown }}</span></dd>
                        {% endif %}
                        {% if profile.user.refugee.current_address %}
                            <dt>{% trans "Current location" %}</dt>
                            <dd><span class="field-text-editable" data-name="current_address">{{ profile.user.refugee.current_address }}</span></dd>
                        {% endif %}
                        {% if profile.user.refugee.story %}
                            <dt>{% trans "My story" %}</dt>
                            <dd><span class="field-text-editable" data-name="story">{{ profile.user.refugee.story }}</span></dd>
                        {% endif %}
                        {% if profile.user.refugee.countries %}
                            <dt>{% trans "Countries/citis I want to go to" %}</dt>
                            <dd>
                                {% for country in profile.user.refugee.countries %}
                                    {{ countries_list.countries|get_item:country }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </dd>
                        {% endif %}
                    </dl>
                </div>
            </form>
            {% endif %}

            <div class="control-group">
              <div>
                <div class="editable-input"></div>
                <div class="editable-buttons"></div>
              </div>
              <div class="editable-error-block"></div>
            </div>
        {% endblock %}
    </div>
</div>
{% endblock %}


{% block js_ %}
<script src="{% static "x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js" %}" type="text/javascript"></script>

<script type="text/javascript">
  var csrf_token = "{{csrf_token}}";
  $.fn.editableform.buttons = '<button class="btn btn-primary btn-sm editable-submit" type="submit"><i class="fa fa-check"></i></button><button class="btn btn-default btn-sm editable-cancel" type="button"><i class="fa fa-remove"></i></button>';
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      console.log(settings.date)
      if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
        // Send the token to same-origin, relative URLs only.
        // Send the token only if the method warrants CSRF protection
        // Using the CSRFToken value acquired earlier
        xhr.setRequestHeader("X-CSRFToken", csrf_token);
      }
    }
  });
  $(function() {
    $('.field-text-editable').editable({
    });
            
    $('.field-date-editable').editable({
      format: 'dd/mm/yyyy',
      viewformat: 'dd/mm/yyyy',
      datepicker: {
        weekStart: 1
      }
    });

    $('.field-gender-editable').editable({
      value: '{{citizen.gender}}',
      source: [
        {% for gender in gender_list %}
          { value: '{{gender.0}}', text: '{{gender.1}}' },
        {% endfor %}
      ]
    });
    $('.btn.save').click(function() {
      $('.profile-form .editable').editable('submit', { 
        url: '{% url "profile_update" user.username "personal" %}', 
        ajaxOptions: {
          dataType: 'json'
        },
        success: function(data, config) {
          if(data && data.success) {
            $(this).removeClass('editable-unsaved');
            $(this).removeClass('editable-error')
          } else if(data && data.errors){
            var $el = $(this);
            $.each(data.errors, function(i, v) {
              $el.each(function() {
                if ($(this).data('name') == i) {
                  $(this).addClass('editable-error');
                  return false;
                }
              });
            });
          }
        },
      });

      $('.family-form .editable').editable('submit', { 
        url: '{% url "profile_update" user.username "family" %}', 
        ajaxOptions: {
          dataType: 'json'
        },
        success: function(data, config) {
          if(data && data.success) {
            $(this).removeClass('editable-unsaved');
            $(this).removeClass('editable-error')
          } else if(data && data.errors){
            var $el = $(this);
            $.each(data.errors, function(i, v) {
              $el.each(function() {
                if ($(this).data('name') == i) {
                  $(this).addClass('editable-error');
                  return false;
                }
              });
            });
          }
        },
      });
    });
  })
</script>
{% endblock %}
