{% load staticfiles sekizai_tags %}
{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400,300,600,700|Oswald|Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static "selectize/dist/css/selectize.bootstrap3.css" %}" />
  <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}" />
  <link rel="stylesheet" href="{% static "base.css" %}" />
  <title>{% block title %}Userena{% endblock %}</title>
  {% block meta %}{% endblock %}
  {% render_block "css" %}
  {% block css_ %}{% endblock %}
</head>
<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %} {% render_block body_class_ %}">
  <div id="body">
    {% block body %}
      {% block header %}
        <nav class="navbar navbar-refugee">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Messages <i class="fa fa-file-o"></i></a></li>
                <li><a href="#">Help <i class="fa fa-life-saver"></i></a></li>
                {% if user.is_authenticated  %}
                {% if user.my_profile.type == "C"  %}
                  <li><a href="{% url 'refuge_myspace_list' %}">{% trans "My offered spaces" %} <i class="fa fa-map-o"></i></a></li>
                {% else %}
                  <li><a href="{% url 'search_home' %}">{% trans "Find a place" %} <i class="fa fa-map-o"></i></a></li>
                {% endif %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% block profile_name %}{{ user.first_name }}{% endblock %} <span class="caret"></span></a>
                    {% block profile_navigation %}
                      <ul class="dropdown-menu">
                        <li><a href="{% url 'userena_profile_detail' user.username %}">{% trans "Account" %}</a></li>
                        {% block profile_navigation_items %}
                          <li><a href="{% url 'userena_password_change' user.username %}">{% trans "Change password" %}</a></li>
                          <li><a href="{% url 'refuge_space_list' %}">{% trans "All spaces" %}</a></li>
                          {% if user.my_profile.type == "C"  %}
                            <li><a href="{% url 'refuge_myspace_create' %}">{% trans "Add another space" %}</a></li>
                            <li><a href="{% url 'refuge_space_application_list' %}">{% trans "Booking requests" %}</a></li>
                          {% else %}
                            <li><a href="{% url 'refuge_wish_list' %}">{% trans "Wish list" %}</a></li>
                          {% endif %}
                        
                        {% endblock %}
                        <li><a href="{% url 'userena_signout' %}">{% trans "Log Out" %}</a></li>
                        
                      </ul>
                    {% endblock %}
                </li>
                {% else %}
                <li>
                    <a href="{% url 'home' %}">Register</a>
                </li>
                <li>
                    <a href="{% url 'userena_signin' %}">Log in</a>
                </li>
                {% endif %}
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

      {% endblock %}
      {% block content %}{% endblock %}
    {% endblock %}
  </div>
  <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/CSSPlugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/easing/EasePack.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js"></script>
  <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
  <script src="{% static "moment/moment.js" %}"></script>
  <script src="{% static "pikaday/pikaday.js" %}"></script>
  <script src="{% static "jquery-date-dropdowns/dist/jquery.date-dropdowns.js" %}"></script>
  <script src="{% static "microplugin/src/microplugin.js" %}"></script>
  <script src="{% static "sifter/sifter.min.js" %}"></script>
  <script src="{% static "selectize/dist/js/selectize.min.js" %}"></script>
  <script src="{% static "js/script.js" %}"></script>
  {% render_block "js" %}
  {% block js_ %}{% endblock %}
</body>
</html>
